@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

body{
  background-color: #fff7f0;
  background-image: url(bg-intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Inria Sans', sans-serif;
}
.container h1{
max-width: 40rem;
font-weight: bolder;
font-size: 3rem;
line-height: 3rem;
margin-bottom: 1rem;
color: white;
}
.container h2{
  max-width: 48rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: rgb(213, 213, 213);
}
.section{
  margin-top: 0;
  margin-left: 5rem;
}
.card{
display: flex;
justify-content: center; 
flex-direction: column;
align-items: center; 
border: #ea7564 solid 5px;
padding: 5rem;
margin-top: 12rem;
}

.htmlcard{
  color: #eaecd9;
  background-color: black;
}
/* CSS for the "fade" transition */
/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
} */
.box{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 90vh; 
}
.questions{
  font-weight: bold;
}
.button{
  background-color: #ea7564;
  color: #fff7f0;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 1rem;
  margin: 0 5rem;
}
.button:hover{
  background-color: black;
  transition: 0.3s;
}
.show-button{
  color: #eaecd9;
  background-color: #292a29;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 1rem;
}
.show-button:hover{
  background-color: #ea7564;
  font-weight: bold;
  transition: 0.3s;
}
.features{
  line-height: 3rem;
  text-align: center;
  height: 80vh;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .container{
    max-width: 25rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
  .section{
    margin-left: 2rem;
  }
  .card{
    margin-top: 0;
    max-width: fit-content;
    display: flex;
    height: 100vh;
    align-items: center;
  }
  .prev-button{
    margin-right: 9rem;
  }
  .wrapper{
    margin-left: 0;
  }

}
@media screen and (max-width: 600px) {
  .container{
    max-width: 15rem;
    margin-left: 3rem;
  }
  .container h1{
    font-size: 2rem;

  }
  .container h2{
    font-size: 1.3rem;

  }
  .section{
    margin-left: 0;
  }
  .card{
   border: none;
   max-width: 20rem;
  }
  .card h1{
    width: 20rem ;
  }
  .buttonss{
    flex-direction: column;
    gap: 1rem;
  }
  .wrapper{
    max-width: 20rem;
    height: 49rem;
    border-radius: 0;
    margin-top: 13rem;
  }
  .prev-button{
    margin-right: 0;
  }
.button{
  margin: 0.5rem;
}
hr{
  margin-bottom: 1rem;
}
.result{
  margin-top: 0;
}
}



