@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
  background-color: #fff7f0;
  background-image: url(bg-intro.png);
  background-size: fill;
  background-repeat: no-repeat;
  font-family: 'Noto Sans', sans-serif;
}
.container{
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.container h1{
max-width: 39rem;
font-weight: bolder;
font-size: 3rem;
line-height: 3rem;
margin-bottom: 1rem;
color: #292a29;
}
.container h2{
  max-width: 39rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #989189;
}
.section{
  margin-top: 0;
  margin-left: 5rem;
}
.card{
display: flex;
justify-content: center; 
flex-direction: column;
align-items: center; 
border: #ea7564 solid 5px;
padding: 5rem;
margin-top: 12rem;
}

.htmlcard{
  color: #eaecd9;
  background-color: black;
}
/* CSS for the "fade" transition */
/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
} */
.box{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 90vh; 
}
.wrapper{
  font-size: 1.5rem;
  line-height: 4rem;
  max-width: 40rem;
  border: #ea7564 5px solid;
  padding: 2rem;
  border-bottom-right-radius: 150px;
}
.selected{
  background-color: #ea7564;
  border-radius: 10px;
}
.questions{
  font-weight: bold;
  text-decoration: underline;
}
.button{
  background-color: #ea7564;
  color: #fff7f0;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 1rem;
  margin: 0 5rem;
}
.button:hover{
  background-color: black;
}
.show-button{
  color: #eaecd9;
  background-color: #292a29;
  border-radius: 10px;
  padding: 0 20px;
  margin-top: 1rem;
}
.show-button:hover{
  background-color: #ea7564;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .container{
    max-width: 25rem;
    margin-left: 0;
  }
  .section{
    margin-left: 2rem;
  }
  .card{
    max-width: 29rem;
  }
  .prev-button{
    margin-right: 9rem;
  }
  .wrapper{
    margin-left: 0;
  }

}
@media screen and (max-width: 600px) {
  .container{
    max-width: 20rem;
    margin-left: 2rem;
  }
  .section{
    margin-left: 0;
  }
  .card{
    max-width: 20rem;
  }
  .buttonss{
    flex-direction: column;
    gap: 1rem;
  }
  .wrapper{
    height: auto;
    border-radius: 0;
  }
  .prev-button{
    margin-right: 0;
  }
  .next-button{
    margin-left: 5rem ;
    }
}



